<% if @show_register %>
  <script>
    $(function(){   
      $(".modal_login").show()           
      $('.close').click(function(){
        $(".modal_login").css("display", "none")
      }); 
    })
  </script>
  
  <div class="modal modal_login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Hi. Let's be clother?</h5>
          <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Maybe you wanna login or sign up to have access to all features?</p>
        </div>
        <div class="modal-footer">
          <div class='btn btn-primary'><%= link_to "Log in", '/login', method: :get%></div>
          <div class='btn btn-primary'><%= link_to "Sign Up", '/authors/new'%></div>
        </div>
      </div>
    </div>
  </div>
<%end%>

