<form class="form-inline row search" action="<%= posts_path %>" method='get'>
    <input class=" col-sm-4 search_imp" type="search" placeholder="Search" aria-label="Search" name='q' value="<%= params[:q] %>">
    <div class="col-sm-1"></div>
    <button class="btn btn-outline-primary col-sm-2 search_btn" type="submit">Search</button>
</form>
