// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,38,253,1) 50%, rgba(69,187,252,1) 100%);
  padding: 20px;
  overflow: hidden;
  color: white;
  font-size: 3em;
  a{
      font-size: 0.60em;
  }
}
.cont{
  margin: auto;
  text-align: justify;
  width: 90%; 
  img{
    margin: 2%;
  } 
}

.show_post{
  p{
    font-size: 15px;
    word-break: break-word;
    overflow: hidden;
  } 
}
body{
  a{
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
    }
    &:visited{
      color: white;
    }
  }
  h4{
    color: #833ab4;
  }  
  h5{
    color: #833ab4;
  }
  h2{
    color: #833ab4;
  }
  .select_author{
    width: 30%;
    background-color:  #833ab4;
    color: white;
    padding: 5px;
  }
}
@media screen and (max-width: 600px) { 
  .header{
    font-size: 1.5em;
  }
}
.invisible{
  display: none !important;
}
.comment_form{
  background: #ebe1ff;
  padding: 10px;
}
.comment{
  padding: 10px;
  background: #5f73f575;
  border-radius: 10px;
  margin-bottom: 10px;
  word-break: break-word;
  overflow: hidden;
  img {
    width: 100px;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover{
      background: none;
      color: white;
    }
    &:visited{
      color: white;
    }
  }
  button{
    color: white;
    &:hover{
      color: white;
    }
  }
}
#alert {
  color: red;
}
.add_comment h6 a {
  color: blue;
  &:hover{
    color: purple;
  }
}
.left{
  display: inline;
  float: left;
}
.right{
  display: inline;
  float: right;
}
.show_post_author img{
  width: 100px;
}
.container_index{
  a{
    color: black !important;
    font-weight: bold;
    &:hover{
      color: purple !important
    }
  }
  img{
    width: 100px;
  }
  .row{
    padding: 2%;
    text-align: justify;
    &:hover{
      background: #ebe1ff;
    }
  }
  .column{
    overflow: hidden;
  }
}
.h5_c{
  margin-top: -3%;
}